<html xmlns:th="https://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'owners')}">

<body>

  <h2>Find Owners</h2>

  <form th:object="${owner}" th:action="@{/owners}" method="get"
    class="form-horizontal" id="search-owner-form">
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Find All Owners</button>
      </div>
    </div>

    <a class="btn btn-primary" th:href="@{/owners/new}">Add Owner</a>

  </form>

</body>
</html>
